<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark nav-opacity">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if(!user){ %>
              <li class="nav-item">
                <a class="nav-link text-white" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/login">Log In</a>
              </li>
            <% }else{ %>
              <li class="nav-item active">
                <a class="nav-link text-white" href="/profile">My Profile<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/new">Add a Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/logout">Log Out</a>
              </li>
            <% }; %>
          </ul>
        </div>
    </div>
  </nav>
