        
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="/javascript/script.js"></script>
            <% if(user && (user.username === "Admin")){ %>
                <script src="/javascript/adminScript.js"></script>
            <% }; %>
        </div>
    </body>
    
    <footer>
        <div class="navbar navbar-dark bg-dark footerSection nav-opacity">
            <a class="container d-flex justify-content-center up-arrow" href="#particles-js">
                <i class="fas fa-angle-double-up"></i>
            </a>
            <div class="container mt-2 mt-lg-4 d-flex justify-content-center">
                <a href="https://ca.linkedin.com/in/omid-yaghoubifard-503347199" target="_blank" class="mx-2 mx-sm-3 footer-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Omid-Yaghoubifard" target="_blank" class="mx-2 mx-sm-3 footer-icon">
                    <i class="fab fa-github-square"></i>
                </a>
                <a href="https://www.facebook.com/omid.yaghoubifard" target="_blank" class="mx-2 mx-sm-3 footer-icon">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="mailto:omid.yaghoubifard@gmail.com" target="_blank" class="mx-2 mx-sm-3 footer-icon">
                    <i class="fas fa-envelope-square"></i>
                </a>
            </div>
            <div class="mx-auto mb-3 mb-lg-4 text-white copyright-div">&emsp;&emsp; OMID YAGHOUBIFARD © <%= new Date().getFullYear() %> &emsp;&emsp;</div>
        </div>
    </footer>
</html>